<div class="mb-4 text-center">
    <h1>Welcome</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur velit molestias dolor ex ad reprehenderit sint, harum numquam iure alias distinctio voluptatibus nobis, cum provident aliquid quas repellendus? Minima, iure?
        Pariatur, nam eos fugit quam alias reprehenderit vel repudiandae hic provident iusto consequatur reiciendis consectetur nihil similique perferendis, minima dicta iure ipsa dolore nulla dignissimos mollitia. Ad fugiat et ipsum?
    </p>
</div>