input,
::ng-deep p-password input,
::ng-deep p-password .p-inputtext {
    width: 100% !important;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#registration-card {
    width: 360px;
    margin: 0 auto;
    margin-top:50px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
