.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host ::ng-deep .p-dialog {
    height: 400px;
}

p-button {
    margin: 8px 0;
}




:host ::ng-deep .p-dialog-content{
    height: 100vh;
}

:host ::ng-deep .ng-trigger{
    transform: scale(0.8);
}